<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% if page.description %}
    <meta name="description"  content="{{ page.description }}" />
  {% else %}
    <meta name="description"  content="{{ site.description }}" />
  {% endif %}
  {% if page.keywords %}
    <meta name="keywords"  content="{{ site.keywords }},{{ page.keywords }}" />
  {% else %}
    <meta name="keywords"  content="{{ site.keywords }}" />
  {% endif %}
  <link rel='shortlink' href="{{ site.url }}{{ page.url }}" />
  <link rel="icon" type="image/png" href="{{ "/assets/img/favicon.png" | relative_url }}">
  <link rel="stylesheet" href="{{ "/assets/css/theme.css" | relative_url }}">
  <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
  <link rel="stylesheet" href="{{ "/assets/css/highlight.css" | relative_url }}">
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-99753683-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-99753683-1');
  </script>
</head>
