<header>

  <div id="banner">
    <div id="header-content">
      <div id="logo" class="noselect">
        <img src="assets/img/test3.png" alt="banner">
      </div>
      <div id="menu" class="noselect">
        <input type="checkbox" name="menu-check" id="menu-check" /><label for="menu-check"></label>
        <ul id="menu-content">
          <div id="menu-element">
            <li><a href="{{ site.baseurl }}">Home</a></li>
            <li><a href="{{ site.baseurl }}/about.html">About</a></li>
          </div>
        </ul>
      </div>
    </div>
  </div>

</header>
